Package: us.kid1car.embosseddark
Name: Embossed Dark
Version: 1.6
Architecture: iphoneos-arm
Description: A beautiful painstakingly detailed dark mode theme with awesome embossed icons for your iOS device, brought to you by kid1carus.
Author: kid1carus
Maintainer: Terry OCheskey
Section: Themes
Icon: file:///Library/Themes/Embossed Dark.theme/icon.png
