Package: us.kid1car.ios14blueprint
Name: iOS 14 Blueprint
Version: 1.4
Architecture: iphoneos-arm
Description: A stunning take on iOS 14's icons.  Drawn like architectural blueprints in white pen on blue architect paper, this theme will surely make your iOS device stand out and be noticed!
Author: kid1carus
Maintainer: Terry OCheskey
Section: Themes
Icon: file:///Library/Themes/iOS 14 Blueprint.theme/themeicon.png
