Author: kid1carus <ios.dev@kid1car.us>
Maintainer: Terry OCheskey (kid1carus) <ios.dev@kid1car.us>
Name: unnamed
Package: us.kid1car.unnamed
Depends: firmware (>= 11.0), mobilesubstrate
Section: Themes
Version: 1.1-Beta
Architecture: iphoneos-arm
Description: A "semi-transparent" theme providing a "window" into your iOS device.
