Author: kid1carus <d3sign@kid1car.us>
Maintainer: Terry OCheskey (kid1carus) <ios.dev@kid1car.us>
Name: White1ite
Package: us.kid1car.white1ite
Depends: firmware (>= 11.0), mobilesubstrate
Section: Themes
Version: 1.21
Architecture: iphoneos-arm
Description: A beautiful painstakingly detailed white light-mode theme for your iOS device, brought to you by kid1carus.
Icon: file:///Library/Themes/White1ite.theme/IconBundles/icon.png
